<!DOCTYPE html>
<html>
    <head>
        <title>Pickup App</title>
        
        <!-- Adding Materialize CSS, Google Material Icons, link to style.css page -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css" />
        
        <!-- Firebase Insert Start -->
        <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyAC3Cdx-Ya4DiWK_2b1CBnSfLBPHyCaMkE",
            authDomain: "pickup-app-991e4.firebaseapp.com",
            databaseURL: "https://pickup-app-991e4.firebaseio.com",
            projectId: "pickup-app-991e4",
            storageBucket: "",
            messagingSenderId: "81698118663"
          };
          firebase.initializeApp(config);
        </script>
        
        <!-- Firebase Insert End -->
        
        <!-- Adding jquery to make things work -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
        
        <script src="js/firebaseAuth.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo left"><img id='pickupLogo' style="max-height: 60px; margin-top: 4px; margin-left: 5px" src='img/Pickup_Logo.svg' ></a>
              <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
              <!--  <li><a href="sass.html">Sass</a></li>-->
              <!--  <li><a href="badges.html">Components</a></li>-->
              <!--  <li><a href="collapsible.html">JavaScript</a></li>-->
              <!--</ul>-->
            </div>
        </nav>
        
       <h1 style="margin-left: 15px">Mission Statement</h1>
        
        <div class="row">
          <div class="col s12 m12 l12">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">How Pickup Will Make the World a Better Place</span>
                <p>Pickup, as of now, is an app that makes setting up pickup sports games in your neighborhood quick and easy. Just select a sport, 
                park, and time to play, and in no time, you will be off to the park for a nice game!<br><br>In the future, we hope to expand the app into other hobbies and interests
                , such as pickup chess games, and clubs and classes of any kind. We also hope to roll it out to larger and larger parts of the world, so people anywhere can organize group events.
                <br><br>With time, young people ages (whatever you chose your demographic to be) all around the world will be able to find and schedule pickup games effortlessly. 
                By making playing sports in kids' freetime easier and easier, Pickup can help build a healthier society with children and adolescents choosing to spend their days making friends and exercising, rather than staying at home. 
                <br> <br>Childhood obesity in the US has tripled since the 1970s with one-fifth of school age children affected. 
                By encouraging a more active society, Pickup can mitigate the effects of childhood obesity and promote a healthier America.</p>
                <center><img src="http://www.bariatric-surgery-source.com/image-files/child-obesity-statistics-age-gender.gif"/></center>
              </div>
              <!--<div class="card-action">-->
              <!--  <a href="#">This is a link</a>-->
              <!--  <a href="#">This is a link</a>-->
              <!--</div>-->
            </div>
          </div>
          
           <h1 style="margin-left: 15px">About the Team</h1>
           
      </div>
        <div class="row">
            <div class="col s12 m6 l6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title"><center><img src="img/unnamed.jpg" class="circle center" style="height: 150px"></center></span>
                  <p>Eric Peña is a high school junior who attends the Browning school in midtown Manahattan. 
                  He is a sports lover and enjoys playing as well as watching baseball, basketball, and soccer. 
                  He truly wants to change the world with Pickup as he believes that being able to organize with members of your community and share a passion of sports can have a lasting impact on society.</p>
                </div>
                <!--<div class="card-action">-->
                <!--  <a href="#">This is a link</a>-->
                <!--  <a href="#">This is a link</a>-->
                <!--</div>-->
              </div>
            </div>

            <div class="col s12 m6 l6">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title"><center><img src="img/JameeMehrab2016.JPG" class="circle center" style="height: 150px"></center></span>
                  <p>Mehrab Jamee is a high school sophomore and student of the Dalton School. He is part of Prep for Prep Contingent XXXVII, and is a budding software developer, learning from instructors Jeff Astor and Ben Siegel of Upperline Code. <br> <br> As the technological consultant for this project,
                  he built this web app to make Eric's original idea come alive. He has always been interested in mathematics, technology, and its power to bring people together and make the world a better place. He bcecame interested in Pickup, because
                  he believes that it will help to make local New York City neighborhoods in Queens (where he lives) a hotbed for pickup sports. <br> <br> He believes that, with time, Pickup can spread and make the world a more action and more connected place.</p>
                </div>
                <!--<div class="card-action">-->
                <!--  <a href="#">This is a link</a>-->
                <!--  <a href="#">This is a link</a>-->
                <!--</div>-->
              </div>
            </div>
          </div>
          
          
    </body>
</html>