<!DOCTYPE html>
<html>
    <head>
        <title>Pickup App</title>
        
        <!-- Adding Materialize CSS, Google Material Icons, link to style.css page -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="css/style.css" />
        
        <!-- Firebase Insert Start -->
        <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyAC3Cdx-Ya4DiWK_2b1CBnSfLBPHyCaMkE",
            authDomain: "pickup-app-991e4.firebaseapp.com",
            databaseURL: "https://pickup-app-991e4.firebaseio.com",
            projectId: "pickup-app-991e4",
            storageBucket: "",
            messagingSenderId: "81698118663"
          };
          firebase.initializeApp(config);
        </script>
        
        <!-- Firebase Insert End -->
        
        <!-- Adding jquery to make things work -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.0/js/materialize.min.js"></script>
        
        <script src="js/firebaseAuth.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-wrapper">
              <a href="/" class="brand-logo left"><img id='pickupLogo' style="max-height: 60px; margin-top: 4px; margin-left: 5px" src='img/Pickup_Logo.svg' ></a>
              <!--<ul id="nav-mobile" class="right hide-on-med-and-down">-->
              <!--  <li><a href="sass.html">Sass</a></li>-->
              <!--  <li><a href="badges.html">Components</a></li>-->
              <!--  <li><a href="collapsible.html">JavaScript</a></li>-->
              <!--</ul>-->
            </div>
        </nav>
        
        <div class="section"></div>
        <main>
          <center>
            <!--<img class="responsive-img" style="width: 250px;" src="https://i.imgur.com/ax0NCsK.gif" />-->
            <div class="section"></div>
      
            <!--<h5 class="indigo-text">Please, login into your account</h5>-->
            <!--<div class="section"></div>-->
      
            <div class="container">
              <div class="z-depth-1 grey lighten-4 row" style="display: inline-block; padding: 32px 48px 0px 48px; border: 1px solid #EEE;">
      
                  <div class='row'>
                    <div class='input-field col s12'>
                      <input class='validate' type='email' name='email' id='email' />
                      <label for='email'>Enter your email</label>
                    </div>
                  </div>
      
                  <div class='row'>
                    <div class='input-field col s12'>
                      <input class='validate' type='password' name='password' id='password' />
                      <label for='password'>Enter your password</label>
                    </div>
                    <label style='float: right;'>
            				<a class='pink-text' href='#!'><b>Forgot Password?</b></a>
            			  </label>
                  </div>
                  
                  <br/>
                  
                  <center>
                    <div class='row'>
                      <a name='btn_login' class='col s12 btn btn-large waves-effect indigo' id="loginbutton">Login</a>
                    </div>

                    <div class='row'>
                      <a class='col s12 btn btn-large waves-effect indigo' href="/sportsPreferences" id="loginWithGoogle">Log In With Google</a
                    </div>
                  </center>                    
                </form>
              </div>
            </div>
            <a href="#!">Create account</a>
          </center>
      
          <div class="section"></div>
          <div class="section"></div>
        </main>
        
        <!-- TODO: add signin field: ask Jeff how to do -->
        
        
        
        <!--<p id="displayName">You have not signed in yet.</p>-->
        <!--<button -->
        <!--    class="btn btn-primary"-->
        <!--    id="google-signin" -->
        <!--    onclick={signInWithGoogle()}-->
        <!-- > -->
        <!--    Sign In With Google-->
        <!--</button>-->
        <!--<button -->
        <!--    class="btn btn-primary"-->
        <!--    id="signUp" -->
        <!--    onclick={signInWithEmail()}-->
        <!-- > -->
        <!--    Sign Up-->
        <!--</button>-->
        <!--<button -->
        <!--    class="btn btn-primary"-->
        <!--    id="signout" -->
        <!--    onclick={signOut()}-->
        <!--    style="display: none; visibility: hidden;"-->
        <!-- > -->
        <!--    Sign Out-->
        <!--</button>-->
        
    </body>
</html>